@model preNursingHouse.Models.TMeal

@{
    ViewData["Title"] = "MenuMonth";
}

<style>

    .section-padding {
        padding-top: 100px;
        padding-bottom: 270px;
    }

    .hero-section-full-height {
        height: 680px;
        min-height: 680px;
        position: relative;
    }

    .carousel-item img {
        max-width: 45%;
        display: block;
        margin: auto;
    }
    

    /*.card {
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
                transition: transform 0.2s;
            }*/

    /* .card:hover {
                    transform: scale(1.01);
                    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
                }*/

    .btn {
        transition: transform 0.2s ease-out;
    }

    .btn-outline-success:hover {
        transform: scale(1.1);
    }

</style>

<section class="cta-section section-padding section-bg">
    @*<div class="container">*@

    <div class="col-12 text-center mx-auto">
        <h2 class="mb-4">本月餐點實照</h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://localhost:7105/images/MealImages/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/6.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/7.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://localhost:7105/images/MealImages/8.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<!-- Close Content -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/templatemo.js"></script>
    <script src="~/js/templatemo.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            }
            ]
        });

    </script>
}
