@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-8">歡迎登入 護 Care 後臺系統</h3>
	<img src="~/images/index/unnamed.png" class="mt-4"/>
@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
