@model preNursingHouse.Models.TMember

@{
    ViewData["Title"] = "Edit";
}
@{
    string sex = "";
    if ((bool)@Model.M性別)
    {
        sex = "男";
    }
    else
    {
        sex = "女";
    }

<h4>會員資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="MId" value="@Model.MId" />
            <div class="form-group">
                <label asp-for="M手機" class="control-label"></label>
                    <input asp-for="M手機" class="form-control" pattern="^09\d{8}$"  title="手機格式輸入錯誤" />
                <span asp-validation-for="M手機" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M密碼" class="control-label"></label>
                    <input asp-for="M密碼" class="form-control"  pattern="^(?=.*[a-zA-Z])(?=.*[\d])[^\s]{6,12}$" title="請輸入6-12碼包含中英文的密碼" />
                <span asp-validation-for="M密碼" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M姓名" class="control-label"></label>
                <input asp-for="M姓名" class="form-control" required/>
                <span asp-validation-for="M姓名" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M性別" class="control-label"></label>
                <input asp-for="M性別" class="form-control" id="SexInput" hidden />
                <select class="form-control" name="M性別" id="SexSelect">
                    <optgroup label="性別">
                        <option selected disabled hidden>@sex</option>
                        <option value="true">男</option>
                        <option value="false">女</option>
                    </optgroup>
                </select>
                <span asp-validation-for="M性別" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MEmail" class="control-label"></label>
                <input asp-for="MEmail" class="form-control" type="email" required />
                <span asp-validation-for="MEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M照片" class="control-label"></label>
                <input name="photo" type="file" class="form-control" />
                <span asp-validation-for="M照片" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M住址" class="control-label"></label>
                <input asp-for="M住址" class="form-control" required/>
                <span asp-validation-for="M住址" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
<div>
    <a asp-controller="PreMember" asp-action="Detail">上一頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#SexSelect").change(() => {
            $("#SexInput").val($("#SexSelect").val());
        });
    </script>
}
