@section Styles
	{
	<link rel="stylesheet" href="/css/OrderListForClient.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.10/dist/css/uikit.min.css" />
	<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
}

<div class="formContainerOf">
	<div class="choiceforpageOf">	
			<input class="rdobutton_radio" type="radio" id="radioId" name="radioName" value="0" checked />
			<label class="rdobutton_label" for="radioId">處理中</label>
			<input class="rdobutton_radio" type="radio" id="radioId2" name="radioName" value="1" />
			<label class="rdobutton_label" for="radioId2">歷史訂單</label>

	</div>
	<div class="tableAreaOf">
		<div class="table">
			<table id="orderListForClient" class="table table-bordered table-striped"
				   style="width: 100%;">
			</table>
		</div>
	</div>
</div>

<div id="dialog" title="詳細資料">
	<div>
		<div class="dialogDetail">
			<div class="itemLeft">
				<p>活動名稱:</p>
				<p>活動日期:</p>
				<p>地點:</p>
			</div>
			<div class="itemRight">
				<p id="name"></p>
				<p id="date"></p>
				<p id="location"></p>
			</div>
		</div>
		<div class="itemexplain">
			<p>活動說明:</p>
			<p id="explain">			
			</p>
		</div>
		<div class="detailName">
		</div>
	</div>
</div>

@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script>
		let memberId = parseInt(localStorage.getItem('memberId'), 10)
		let state = 0;

		$(document).ready(function () {
			orderListForClient(state);
			$('#radioId').on('change', function () {
				state = 0;
				$('#orderListForClient').DataTable().destroy();
				orderListForClient(state);
			});
			$('#radioId2').on('change', function () {
				state = 1;
				$('#orderListForClient').DataTable().destroy();
				orderListForClient(state);
			});
		});

		function connectLoginPage() {
			window.location.assign("/Home/Login");
		}

		function orderListForClient(state) {
			const webApiBaseAddress = 'https://localhost:7171';

			$('#orderListForClient').DataTable({
				ajax: {
					type: 'GET',
					url: `${webApiBaseAddress}/api/Activity/GetActivityOrderClient/${memberId}/${state}`,
					dataSrc: function (data) {
						console.log(data);
						return data;
					}
				},
				columns: [					
					{ data: '訂單編號', title: '訂單編號' },
					{
						data: 'ao訂單建立日期', title: '下訂日期', render: function (data) {
							let tzoffset = (new Date()).getTimezoneOffset() * 60000;
							let localISOTime = new Date(new Date(data) - tzoffset).toISOString().slice(0, -1);

							return localISOTime.slice(5, 10)
						}
					},
					{ data: 'ao訂單進度', title: '訂單進度' },
					{ data: 'ao金額', title: '金額' },
					{ data: 'act活動名稱', title: '活動名稱' },
					{
						data: null, title: "功能", 
						render: function (data, type, row) {
							if (state == 0) {
								return `<button type="button" class="btn btn-warning btn-sm" id=${data.aoId}>編輯</button> `
							} else {
								return `<button type="button" class="btn btn-warning btn-sm" id=${data.aoId}>詳細</button> `;
							}
						}
					},
				],
				columnDefs: [
				],
				'select': {
					'style': 'multi'
				},
				'order': [[1, 'asc']],
				"language": {
					"search": "搜尋",
					"paginate": {
						"previous": "上一頁",
						"next": "下一頁"
					}
				},
				"searching": true,
				"bLengthChange": false,
				"bInfo": false,
				"autoWidth": false,
			});
		}

		function dialogData(aoId) {
			const webApiBaseAddress = 'https://localhost:7171';
			fetch(`${webApiBaseAddress}/api/Activity/GetActivityOrder/${aoId}`, {
				method: "GET",
			}).then(result => {
				if (result.ok) {
					return result.json();
				}
			}).then(data => {
				a活動名稱 = data.act活動名稱
				a活動說明 = data.act活動說明
				a活動日期 = data.act活動日期
				a地點 = data.act地點
				$("#name").text(a活動名稱);
				$("#date").text(a活動日期.slice(0, 10));
				$("#location").text(a地點);
				$("#explain").text(a活動說明);
			}).catch(err => {
				alert(err);
			});
		}

		$(document).on('click', 'button', function () {
			btnData = $(this).attr('id');
			if (btnData === 'returnIndex') {
				connectIndexPage()
			} else if (btnData >= 10000 && state == 0) {
				localStorage.setItem('oId', btnData)
				connectPage()
			} else if (btnData >= 10000 && state == 1) {
				localStorage.setItem('oId', btnData)
				dialogData(btnData)
				setTimeout(openDialog, 1000);
				console.log(1);
			}
		});

		function openDialog(){
			$("#dialog").dialog("open");
		}

		$('#returnIndex').on('click', (event) => {
			connectIndexPage()
		});

		function connectIndexPage() {
			window.location.assign("/Activity/ShowActivity");
		}

		function connectPage() {
			window.location.assign("/Activity/EditFillData");
		}

		$(function () {
			$("#dialog").dialog({ autoOpen: false, width: 400 });
		});
	</script>
}